* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  color: #fff;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

#root button {
  font-size: 2rem;
}

#root button:nth-of-type(2) {
  display: inline-block;
  margin: 15px 0;
}